body{
	color:White;
}
/*Centers all image elements, logo and graphs*/
img{
display:block;
margin-left:auto;
margin-right:auto;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	float:left;
	padding:18px;
	text-align:center;
}

	.flip-container:active .flipper, .flip-container.active.flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 450px;
	height: 240px;
}

/* flip speed*/
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
.footerCard {
	position:relative;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	font-family: 'Quicksand';
	text-align:center;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
/*Place the front pane above the back*/
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	font-family: 'Quicksand';
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.front:hover, .back:hover{
	opacity:0.80;
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	font-size:20px;
	text-align:left;
}